.card-portfolio{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.divider {
    width: 100%;
    height: 3px;
    margin: 5rem 0 !important;

  
    
    background-image: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0), 
      white 50%,               
      rgba(255, 255, 255, 0)  
    );
  }

.card-img-top{
    max-width: 450px;
    max-height: 350px;
    border-radius: 15px;
}

.flex-row-reverse .card-img-top{
    margin-left: 5rem;
}

.flex-row .card-img-top{
    margin-right: 5rem;
}

.button-repository{
    background-color: rgb(116, 116, 116);
    border: none;
}

.button-repository:hover{
    background-color: #000000;
}